/* dashboard.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f5f7fa;
  color: #333;
}


.search-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  background-color: #f5f7fa;
  border-radius: 12px;
  margin: 10px auto;
  max-width: 1000px;
}

.search-section input,
.search-section select {
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.search-section input:focus,
.search-section select:focus {
  border-color: #7c2946;
  outline: none;
}

.search-section button,
.search-section .btn {
  padding: 10px 16px;
  font-size: 14px;
  background-color: #7c2946;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-section button:hover,
.search-section .btn:hover {
  background-color: #7c2946;
}

.search-section a {
  text-decoration: none;
}



.featured-section {
  padding: 30px;
  text-align: center;
  flex-grow: 1;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  justify-content: space-around;
  gap: 20px;
  justify-items: center;
}

.featured-section {
  overflow-x: auto;
}

.item-card {
  background: white;
  width: 250px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.item-card:hover {
  transform: translateY(-5px);
}

.item-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.item-card .info {
  padding: 12px;
}

.item-card .info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.item-card .info p {
  color: #10b981;
  font-weight: 600;
}

/* footer {

  margin-top: 20px;
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

footer .social-links a img {
  width: 26px;
  border-radius: 50%;
  margin: 10px;
} */
